<nav class="nav collapsible">
  <a href="/" class="logo">
    <img src="images/logo-juce-white.svg" class="logo__img" alt="" />
    <span class="brandname"> Asmy</span>
  </a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprites.svg#white-menu"></use>
  </svg>
  <ul class="nav__list collapsible__content">
    <li class="list__item"><a href="#">Hosting</a></li>
    <li class="list__item"><a href="#">VPS</a></li>
    <li class="list__item"><a href="#">Domain</a></li>
    <li class="list__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
